.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomeImg {
  border-radius: 50%;
  border: 1px solid rgba(150, 200, 150, 0.3)!important;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 6px 0px;
}